.container {
    max-width: 500px; /* Set a maximum width for responsiveness */
    margin: auto;
    padding: 20px;
  }
  
  nav {
    display: flex; /* Layout elements horizontally */
    align-items: center; /* Align elements vertically */
    justify-content: space-between; /* Distribute elements evenly */
  }
  
  h2 {
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 500;
  }
  
  .view-select {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #f5f5f5;
    outline: none;
    transition: all 0.2s ease-in-out; /* Add smooth transition */
    cursor: pointer; /* Indicate clickable element */
  }
  
  .view-select:hover {
    border-color: #999;
  }
  
  form {
    display: inline-block;
  }
  table{
    width:100%;
    tr{
        width:100%;
    }
    th,
    td{
        padding:lrem;
        border: 1px solid grey;
  
    }
  }